
<?php $month = date('m')-1; ?>          
<ul id="tabs">

      <li><a id="tab1" class="<?php if($month==1){echo 'opentab';}?>">January</a></li>
      <li><a id="tab2" class="<?php if($month==2){echo 'opentab';}?>">February</a></li>
      <li><a id="tab3" class="<?php if($month==3){echo 'opentab';}?>">March</a></li>
      <li><a id="tab4" class="<?php if($month==4){echo 'opentab';}?>">April</a></li>
      <li><a id="tab5" class="<?php if($month==5){echo 'opentab';}?>">May</a></li>
      <li><a id="tab6" class="<?php if($month==6){echo 'opentab';}?>">June</a></li>
      <li><a id="tab7" class="<?php if($month==7){echo 'opentab';}?>">July</a></li>
      <li><a id="tab8" class="<?php if($month==8){echo 'opentab';}?>">August</a></li>
      <li><a id="tab9" class="<?php if($month==9){echo 'opentab';}?>">September</a></li>
      <li><a id="tab10" class="<?php if($month==10){echo 'opentab';}?>">October</a></li>
      <li><a id="tab11" class="<?php if($month==11){echo 'opentab';}?>">November</a></li>
      <li><a id="tab12" class="<?php if($month==12){echo 'opentab';}?>">December</a></li>

</ul>
         <?php       
                $collection = $this->getColletionById();

              
				$i=1;
                foreach ($collection as $item) {?>
				<div class="container <?php if($item['month']==$month){echo 'opentabcontent';}?>" id="tab<?php echo $i; ?>C">
				   <?php 
				  // echo $item['month'].'<br />';
				   echo $item['title'].'<br />';
				   echo $item['content'];

					$i++;?>
					</div>
              <?php  }?>
				
             <?php  // $collection->walk('save');
             

            ?> 


<script>
jQuery(document).ready(function() {    

jQuery('#tabs li a:not(.opentab)').addClass('inactive');
jQuery('.container').hide();
jQuery('.opentabcontent').show();
    
jQuery('#tabs li a').click(function(){
    var t = jQuery(this).attr('id');
  if(jQuery(this).hasClass('inactive')){ //this is the start of our condition 
   jQuery('#tabs li a').addClass('inactive');           
    jQuery(this).removeClass('inactive');
    
  jQuery('.container').hide();
    jQuery('#'+ t + 'C').fadeIn('slow');
 }
});

});

</script>
			
<style>
#tabs {

   width: 100%;
    height:30px; 
   border-bottom: solid 1px #CCC;
   padding-right: 2px;
   margin-top: 30px;
   

}
a {cursor:pointer;}

#tabs li {
    float:left; 
    list-style:none; 
    border-top:1px solid #ccc; 
    border-left:1px solid #ccc; 
    border-right:1px solid #ccc; 
    margin-right:5px; 
    border-top-left-radius:3px;  
    border-top-right-radius:3px;
      outline:none;
}

#tabs li a {

    font-family:Arial, Helvetica, sans-serif; 
    font-size: small;
    font-weight: bold; 
    color: #5685bc;;
   padding-top: 5px;
   padding-left: 7px;
   padding-right: 7px;
    padding-bottom: 8px; 
    display:block; 
    background: #FFF;
    border-top-left-radius:3px; 
    border-top-right-radius:3px; 
    text-decoration:none;
    outline:none;
  
}

#tabs li a.inactive{
    padding-top:5px;
    padding-bottom:8px;
  padding-left: 8px;
  padding-right: 8px;
    color:#666666;
    background: #EEE;
   outline:none;
   border-bottom: solid 1px #CCC;

}

#tabs li a:hover, #tabs li a.inactive:hover {


    color: #5685bc;
      outline:none;
}

.container {

    clear:both;           
    width:100%; 
    border-left: solid 1px #CCC;
      border-right: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
    text-align:left;
  padding-top: 20px;

}

.container h2 { margin-left: 15px;  margin-right: 15px;  margin-bottom: 10px; color: #5685bc; }

.container p { margin-left: 15px; margin-right: 15px;  margin-top: 10px; margin-bottom: 10px; line-height: 1.3; font-size: small; }

.container ul { margin-left: 25px; font-size: small; line-height: 1.4; list-style-type: disc; }

.container li { padding-bottom: 5px; margin-left: 5px;}
	
</style>