<?php 
   
   // Get product object.
   $object = Mage::getModel('catalog/product');
  $product_id = $_GET["id"];
   //Get product detail using product id  (Suppose you have product id is : $product_id)
   $_product = $object->load($product_id);
  
   // Fetch list of upsell product using query.
   $upsell_product = $_product->getCrossSellProductCollection()->addAttributeToSort($_GET['order'],$_GET['dir'])->setPage(0, 12); 

    $upsell_product->setCurPage($_GET["p"]);


   //check if record is empty or not
   $count = count($upsell_product); 

    $toolbar = Mage::getBlockSingleton('catalog/product_list')->getToolbarBlock();
    $toolbar->setCollection($upsell_product);
	$layout = Mage::getSingleton('core/layout');
    $pager = $layout->createBlock('page/html_pager');
    $toolbar->setChild('product_list_toolbar_pager', $pager);

    echo $toolbar->toHtml();  // to Show toolbar
   //check if record is empty or not
   $count = count($upsell_product); 
   if(empty($count)) : 
       //if empty
       echo "Record not found";

   else:

     //if result is not empty then get  upsell product detail using foreach loop
      foreach($upsell_product as $_upsell):
         
         //get detail of single upsell prdocut using upsell product id
         $upsp = $object->load($_upsell->getId());
         echo '<a href=' . $upsp->getProductUrl().'>'.' <img src=' . $this->helper('catalog/image')->init($upsp, 'image')->resize(118, 82) . ' width=\'118\' height=\'82\'/></a>';
         echo "Product Name : ". $upsp->getName().'<br />';
         //echo "Poduct url : ". $upsp->getProductUrl();
         echo "Product regular price : ". $upsp->getPrice();
         
       endforeach;
   
   endif;

?>

