
<?php Mage::getSingleton('core/session', array('name'=>'frontend'));
$session = Mage::getSingleton('customer/session', array('name'=>'frontend'));?>

<?php

 $_helper = $this->helper('catalog/output');


$collection = Mage::getResourceModel('catalog/category_collection')

    ->addAttributeToSelect('*')

    ->addAttributeToFilter('is_active', 1) //only active categories

    ->addAttributeToFilter('include_in_menu', 0) //only categories not included in menu

    ->addAttributeToFilter('parent_id', 44)//get only subcategories of the category with id 6

    ->addAttributeToSort('position')//sort by position

;



?>
 <?php

 if(isset($_GET['catid'])){
   $cat_id = $_GET['catid'];  //Output: myquery
   }
   if(!isset($_GET['catid'])){
   $cat_id = '';  //Output: myquery
   }
   
  
?>
 <div class="placeoder">  

   <div class="container home-category">
	
	 <?php foreach($collection as $category): ?>
			
		<?php
			
			//load all Categories by ID
			$loadCategory = Mage::getModel('catalog/category')->load($category->getId());
			
			//get Product Count for each Category
			$categoryProdCount = $loadCategory->getProductCount();?>

		   
		   
		   <?php if($category->getIsActive()): ?>
		   
		   	    
	   
   
    <ul>
	<li>
	<a href="<?php echo $loadCategory->getUrl(); ?>"><img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$category->getThumbnail() ?>" width=210 height=210 alt="<?php echo $category->getName();?>" /></a>
	<h2 class="product-name"><?php echo $category->getName();?></h2>
	</li>
	
	</ul>
    

      
  
       <?php endif ?>  
      <?php endforeach; ?>

</div>
</div>
