<ul id="tabs">

      <li><a id="tab1">Form1</a></li>
      <li><a id="tab2">Form2</a></li>
      <li><a id="tab3">Form3</a></li>
</ul>
<div class="container" id="tab1C">
    <?php
    echo $this->getLayout()->createBlock('webforms/webforms', 'my_webform_block', array
    (
        'webform_id' => 1,
        'template' => 'webforms/default.phtml',
    ))->toHtml();
    ?>
</div>
<div class="container" id="tab2C">
    <?php
        echo $this->getLayout()->createBlock('webforms/webforms', 'my_webform_block', array
        (
            'webform_id' => 2,
            'template' => 'webforms/default.phtml',
        ))->toHtml();
    ?>
</div>
<div class="container" id="tab3C">
    <?php
            echo $this->getLayout()->createBlock('webforms/webforms', 'my_webform_block', array
            (
                'webform_id' => 3,
                'template' => 'webforms/default.phtml',
            ))->toHtml();
            ?>
</div>
<style type="text/css">
    #tabs {

       width: 100%;
        height:30px; 
       border-bottom: solid 1px #CCC;
       padding-right: 2px;
       margin-top: 30px;


    }
    a {cursor:pointer;}

    #tabs li {
        float:left; 
        list-style:none; 
        border-top:1px solid #ccc; 
        border-left:1px solid #ccc; 
        border-right:1px solid #ccc; 
        margin-right:5px; 
        border-top-left-radius:3px;  
        border-top-right-radius:3px;
          outline:none;
    }

    #tabs li a {

        font-family:Arial, Helvetica, sans-serif; 
        font-size: small;
        font-weight: bold; 
        color: #5685bc;;
       padding-top: 5px;
       padding-left: 7px;
       padding-right: 7px;
        padding-bottom: 8px; 
        display:block; 
        background: #FFF;
        border-top-left-radius:3px; 
        border-top-right-radius:3px; 
        text-decoration:none;
        outline:none;

    }

    #tabs li a.inactive{
        padding-top:5px;
        padding-bottom:8px;
      padding-left: 8px;
      padding-right: 8px;
        color:#666666;
        background: #EEE;
       outline:none;
       border-bottom: solid 1px #CCC;

    }

    #tabs li a:hover, #tabs li a.inactive:hover {


        color: #5685bc;
          outline:none;
    }

    .container {

        clear:both;           
        width:100%; 
        border-left: solid 1px #CCC;
          border-right: solid 1px #CCC;
      border-bottom: solid 1px #CCC;
        text-align:left;
      padding-top: 20px;

    }

    .container h2 { margin-left: 15px;  margin-right: 15px;  margin-bottom: 10px; color: #5685bc; }

    .container p { margin-left: 15px; margin-right: 15px;  margin-top: 10px; margin-bottom: 10px; line-height: 1.3; font-size: small; }

    .container ul { margin-left: 25px; font-size: small; line-height: 1.4; list-style-type: disc; }

    .container li { padding-bottom: 5px; margin-left: 5px;}
</style>
<script>
    jQuery(document).ready(function() {    

        jQuery('#tabs li a:not(:first)').addClass('inactive');
        jQuery('.container').hide();
        jQuery('.container:first').show();
        jQuery('#tabs li a').click(function(){
            var t = jQuery(this).attr('id');
          if(jQuery(this).hasClass('inactive')){ //this is the start of our condition 
            jQuery('#tabs li a').addClass('inactive');           
            jQuery(this).removeClass('inactive');

            jQuery('.container').hide();
            jQuery('#'+ t + 'C').fadeIn('slow');
         }
        });  
    });
</script>